@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #778beb !important;
  width: 100% !important;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.link-active {
  text-decoration: underline;
}

main {
  /*background: #63cdda;*/
  height: 93vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f96ff), to(#303e8f));
  background: linear-gradient(#2f96ff, #303e8f);
  color: white;
}

.msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 5.5rem;
  line-height: 87px;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temperature {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.degree-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

@media screen and (max-width: 620px) {
  .msg {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 440px) {
  .msg {
    font-size: calc(5.5 / 2) rem;
  }
  .temperature,
  .location,
  .degree-section {
    font-size: calc(5.5 / 2) rem;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .msg,
  .location-timezone {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
