@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: #4bcffa !important;
  width: 100% !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.nav-link:hover {
  text-decoration: underline;
}
.link-active {
  text-decoration: underline;
}

main {
  /*background: #63cdda;*/
  height: 93vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 1630), rgb(48, 62, 143));
  color: white;
}

.msg {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 5.5rem;
  line-height: 87px;
}
.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}
.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 40px;
}

@media screen and (max-width: 620px) {
  .msg {
    font-size: 2.75rem;
  }
}
